<%= form_for @pin, html: {multipart: true } do |f| %>
  <% if @pin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pin.errors.count, "error") %> prohibited this pin from being saved:</h2>

      <ul>
      <% @pin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control" %>
  </div>
  <!--copy one of these things for a category-->
  <H6>Don't worry about changing your picture during edit, leave it as is and you'll still have your old pic.</h6>
  <div class="form-group">
    <%= f.label :locationBuilding %>
    <%= f.text_field :locationBuilding, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :concern %>
    <%= f.text_field :concern, as: :text, text_field_html: { rows: "3" }, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %><br/><p>"Don't use the force, let it load." #fixthiscampus</p>
  </div>

<% end %>
