<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

<div id="pins" class="transitions-enabled">
  <% @pins.each do |pin| %>
    <div class="box panel panel-default">
      <div class="actions center">
        <dl>
          <dt><h3><%= link_to pin.locationBuilding, pin_path(pin) %></h3></dt> <!--churchname-->
         <!-- <dt><%= pin.clergyname %></dt>          -->   
          <br>
          <dd><%= pin.concern %></dd><!--comment-->
          <br>
          <dd>by <%= pin.user.name if pin.user %></dd>
          <dt><h6><%= pin.created_at.strftime("%b %d, %Y") %></h6></dt></br>
          
          <% if pin.user == current_user %>
          <%= link_to 'Edit', edit_pin_path(pin), class: "btn btn-primary btn-xs"%>
          <%= link_to 'Delete', pin, class: "btn btn-primary btn-xs", method: :delete, data: { confirm: 'Are you sure?' } %>  </dt>
        <% end %>
        </div>
      	</dl>
    </div>
  <% end %>
</div>

