<%= image_tag @pin.image.url(:medium) %>

<p>
	<%= @pin.created_at.strftime("%b %d, %Y") %>
</p>

<p>
  <strong><%= @pin.locationBuilding %></strong>
</p>

<p>
  <strong>Location/Building:</strong>
  <%= @pin.locationBuilding %>
</p>

<p>
  <strong>Concern:</strong>
  <%= @pin.concern %>
</p>

<p>
  <%= @pin.user.name %>
</p>

<% if @pin.user == current_user %>
	<%= link_to 'Edit', edit_pin_path(@pin) %> |
<% end %>
<%= link_to 'Back', pins_path %>
